h1 {
  font-size: 30px;
  font-style: oblique;
  text-align: center;
 }
 td, th {
  text-align: center;
  
 }
 
 th{
 background-color:#66ccff;
 }

 thead{
  text-transform:uppercase;
  
 }
 
tr>td:nth-child(2){
  text-transform:uppercase;
 }
 
 input{
 margin-top:0;
 margin-left: 16px;
   border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px #888888;
  width:50%;
  margin-bottom:20px;
  margin-top:20px;
  }
  
  